
h1{
	color: #FA8072;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h2{
	color: #900C3F;
	font-size:50px;
	font-family: 'Verdana', serif;
}

 body{
 	background-color:#EEEEEE;
 }

h3{
	color: #C70039;
	font-size: 50px;
	font-family: 'Verdana', serif;
}

li {
  color: #2F4F4F; /* bullet color */
}
li span {


  color: #2F4F4F; /* text color */
}



h4{
	color: #FF5733;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h5{
	color: #FFC300;
	font-size: 50px;
	font-family: 'Verdana', serif;
}

img{
	width: 35%;
	margin-left: 30%;
}
<form action="/html/tags/html_form_tag_action.cfm" method="post">
<textarea name="comments" id="comments" style="width:96%;height:90px;padding:2%;font-size:1.2em;background-color:gold;">
Hey... say something!
</textarea>
<input type="submit" value="Submit">
</form>


