h1{
	color: #FA8072;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h2{
	color: #900C3F;
	font-size:50px;
	font-family: 'Verdana', serif;
}
 body{
 	background-color:#EEEEEE;
 }
h3{
	color: #C70039;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
li {
  color: #C0C0C0;
}
li span {
<<<<<<< HEAD
  color: #434343; /* text color */
}

=======
  color: #87CEEB; 
>>>>>>> origin/master
h4{
	color: #FF5733;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h5{
	color: #FFC300;
	font-size: 50px;
	font-family: 'Verdana', serif;
}

