h1{
	color: #FA8072;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h2{
	color: #900C3F;
	font-size:50px;
	font-family: 'Verdana', serif;
}
<<<<<<< HEAD
 body{
 	background-color:#EEEEEE;
 }
=======
h3{
	color: #C70039;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
li {
  color: #C0C0C0; /* bullet color */
}
li span {
  color: #87CEEB; /* text color */
}

<<<<<<< HEAD
>>>>>>> origin/master
=======
h4{
	color: #FF5733;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
h5{
	color: #FFC300;
	font-size: 50px;
	font-family: 'Verdana', serif;
}
>>>>>>> origin/master
